<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>주문목록</title>
</head>
<body>
    <th:block layout:fragment="content">

        <h2 class="mt-5">구매이력</h2>

        <th:block th:each="dto : ${responesPageDTO.dtoList}">

            <div class="row mt-2 mb-2">

                <div class="col">

                    <h4> [[${dto.orderDate + ' 주문'}]]

                    <th:block th:if="${dto.orderStatus.name() == 'ORDER'}">
                        <button type="button" th:value="${dto.orderId}" class="btn btn-warning orderCancle">주문취소</button>
                    </th:block>
                    <th:block th:if="${dto.orderStatus.name() == 'CANCEL'}">
                        <span>(취소완료)</span>
                    </th:block>
                    </h4>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div class="card">

                        <div class="row align-items-center">
                            <th:block th:each="orderItemDTO : ${dto.orderItemDTOList}">

                                <div class="col">
                                    <img th:src="${'/images/' + orderItemDTO.imgUrl}">
                                </div>

                                <div class="col">
                                    <div class="card-body">

                                        <h5 class="card-title" th:text="${orderItemDTO.itemNm}"></h5>

                                        <span class="card-text" th:text="${orderItemDTO.orderPrice + '원'}"></span>

                                        <span class="card-text" th:text="${orderItemDTO.count + '개'}"></span>

                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

        </th:block>

        <script>
            let orderCancle = $(".orderCancle")

            orderCancle.on("click", function () {
                //alert("홍길동")
                //alert($(this).val())
                //보낼주소 /order/pk번호/cancle
                //보낼값 orderId $(this).val()

                $.ajax({
                    url : `/order/${ $(this).val() }/cancle`,
                    type : "post",
                    dataType : "json",
                    success : function (data) {
                        console.log(data)
                        alert("주문이 취소되었습니다.")
                        location.href = "/orders"
                        //차후에 페이징처리후 봤던 주문페이지까지도 이동예정
                    },
                    error : function (jqXHR, status, error) {
                        if(jqXHR.status == '401') {
                            alert("로그인 후 이용해주세요")
                            location.href = "/user/login" ; //401 로그인 안되어있을때 로그인페이지로 이동
                        } else if(jqXHR.status == '403'){
                            alert(jqXHR.responseText);    //에러에 대한 내용 출력
                            location.href = "/user/login" ;
                        }
                    }
                })


            })
        </script>

    </th:block>



</body>
</html>